{% extends "base.html"%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registation</title>
</head>
<body>
{% block content%}
<form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom-mb-4">Log in </legend>
                {{ form }}
            </fieldset>
            <div class="form-group">
                 <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>

{% endblock content %}
</body>
</html>
